{
"presets": [
  [
    "@babel/preset-env", { "targets": { "node": "current" } }
  ],
    "@babel/preset-typescript"
  ],
  "plugins": [
    ["effector/babel-plugin", { "addLoc": true, "addNames": true }]
  ]
}