.custom-node {
	--radius-m: 0px;
}

.custom-node div {
	border-radius: 0px;
}

.custom-node.canvas-node.is-themed .canvas-node-content {
	background-color: rgba(var(--canvas-color), 0.3);
}

.custom-node-shape-1 {
}

.custom-node-shape-2 > .canvas-node-container {
	border-radius: 50% 50%;
}

.custom-node-shape-2 .canvas-node-placeholder::after {
	border-radius: 50% 50%;
}
